h1, h2, h3, h4, h5, h6 {
    color:  #3c3c3c;
    font-family: 'Ubuntu', sans-serif;
}
    

ul {
    list-style: none;
}

body {
    background-color: rgb(237, 255, 255);
    text-align: center;
    font-family: 'Sunflower', sans-serif;
}

img {
    width: 100px;
    height: auto;
}

#mainContainer {
    left: 50%;
}