/*Stylesheet for Franklin Weather Site*/

/* Table of contents:
1. Imports
2. General
3. Mobile styles
4. Large styles
*/
 
/* Section 1 - Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');

/* Section 2 - General Rules */

header {
    background-color: #0e89d5;
}

#site-brand {
    font-size: 2em;
    font-weight: 600;
}

nav a:link {
    color: #ffffff;
    text-decoration: none;
}

#logoPhoto {
    height: 40px;
    width: auto;
    padding-right: 1em;
}

header h1 {
    display: inline;
}

nav {
    background-color: #0e89d5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav li a {
    display: block;
    width: 70px;
    padding: 16px;
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "sansita", sans-serif;
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: auto;
}

section {
    text-align: center;
}

#infoBox {
    background-image: url(/weather/images/rain.jpg);
}

#tempHigh {
    color: red;
    display: inline;
}

#tempLow {
    color: blue;
    display: inline;
}

#compassDirection {
    display: inline;
    overflow: auto;
}

#windSpeed {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

li, ol, ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

#rainPhoto {
    height: auto;
    width: 300px;
}

.tile {
    background-color: rgba(200,200,200,.6);
  margin: .2em auto;
  border: 1px solid;
  border-radius: 15px;

}

#hourly {
    overflow: auto;
    white-space: nowrap;
}

footer {
    margin-bottom: 4em;
    background-color: #0e89d5;
}


/* Mobile Styles */

@media only screen and (max-width: 699px) {

}


/* Larger Styles */

@media only screen and (min-width: 700px) {

nav {
    position: relative;

}

#infoBox {

    display:flex;
    justify-content: center;

}

