/*Stylesheet for Franklin Weather Site*/

/* Table of contents:
1. Imports
2. General
3. Mobile styles
4. Large styles
*/

/* Section 1 - Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita');
@import url('normalize.css');


/* Section 2 - General Rules */

header {
    background-color: #0e89d5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "sansita", sans-serif;
}

body {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}
